@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=latin-ext');

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    }

/* BOOTSTRAP_WIDTH */

@media (min-width: 0px) {
    h1 {
        font-size: 9vw;
        text-align: center;
    }
    h2 {
        font-size: 4vw;
        text-align: center;
    }
    p {
    font-size: 3vw;
    }
    #background {
    background-image: url(/img/Foreground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    }
}

@media (min-width: 320px) {
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 14px;
    }
    p {
    font-size: 12px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 16px;
    }
    p {
    font-size: 14px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    h1 {
        font-size: 56px;
    }
    h2 {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    h1 {
        font-size: 72px;
    }
    h2 {
        font-size: 24px;
    }
    #background {
    height: 991px;
    }
}


/* HEADER */
#header .container {
    
display: flex;
    
justify-content: space-between;
    
/* height: 150px; */
    
flex-wrap: wrap;
    
align-items: center;
    
padding-top: 50px;
}

/* NAVIGATION */

@media (min-width: 768px) {
    .logo {
    flex: 0 0 30%;
}
    #navigation {
    flex: 0 0 70%;
    display: flex;
    }
    #open_nav {
    display: none;
    }
}

@media (min-width: 992px) {
.logo {
    flex: 0 0 40%;
}

#navigation {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 0 15px;
    /* width: 625px; */
    /* transition: all 1s ease-in-out; */
    flex: 0 0 60%;
    }
}

@media (min-width: 0px) {
    #open_nav {
        outline: none;
    }
}

#navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    width: 100%;
}


#navigation a {
    color: #f4f5f9;
    font-size: 14px;
    padding-bottom: 15px;
}

#navigation a:hover {
    text-decoration: none;
    color: #e74c3c;
    border-bottom: 1px solid #e74c3c;
}

/* NAVIGATION_DROPDOWN */

@media (max-width: 767px) {
    #navigation {
    position: relative;
    max-height: 0;
    transition: all 1s ease-in-out;
    overflow: hidden;
    order: 1;
    flex: 0 0 100%;
    }
    #navigation.active {
        order: 1;
        flex: 0 0 100%;
        padding-top: 30px;
        max-height: 200px;
        transition: all 1s ease-in-out;
    }
    #navigation ul {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
    } 
    #navigation li {
        list-style: none;
        padding: 5px 10px;
    }
    #navigation.active ul {
        padding: 0;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        width: 100%;
    }
    #navigation.active li {
        list-style: none;
        padding: 5px 10px;
    }
    #navigation.active li a {
    color:#f4f5f9;
    font-size: 14px;
    padding-bottom: 5px;
}
    #navigation.active li a:hover {
        color: #e74c3c;
        border-bottom: 1px solid #e74c3c;
        text-decoration: none;
    }
    #header a.active {
        display: flex;
        color: white;
        padding: 0;
        text-decoration: none;
        font-size: 30px;
        /* flex: 0 0 50%; */
        justify-content: flex-end;
    }
    #header a.active:hover {
        opacity: 0.7;
    }
}
/* CAROUSEL */

#carousel .button {
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
#carousel .button {
        padding-bottom: 100px;
    }
}

#carousel .button button {
    width: 225px;
    height: 55px;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
    opacity: 0.7;
    
}

#carousel .button button:hover {
    opacity: 1;
    cursor: pointer;
}

#carousel .btn1 {
    margin-right: 30px;
    background-color: #e74c3c;
    border: none;
}

#carousel .btn2 {
    background-color: transparent;
    border: 1.5px solid #ffffff;
}

#background .scrolldown {
    position: absolute;
    bottom: 0;
    transform: translate(50%, 50%);
    right: 50%;
}

#carousel .carousel-control-prev {
    width: 45px;
    height: 45px;
    left: 5%;
    top: 45%;
}

#carousel .carousel-control-next {
    width: 45px;
    height: 45px;
    right: 5%;
    top: 45%;
}

.carousel-control-prev-icon {
    background-image: url(/img/left.png);
    width: 45px;
    height: 45px;
}

.carousel-control-prev-icon:hover {
    background-image: url(/img/left1.png);
    width: 45px;
    height: 45px;
}

.carousel-control-next-icon {
    background-image: url(/img/right.png);
    width: 45px;
    height: 45px;
}

.carousel-control-next-icon:hover {
    background-image: url(/img/right1.png);
    width: 45px;
    height: 45px;
}

/* Carousel_Media */

@media (min-width: 0px) {
    #carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #f4f5f9;
        position: relative;
        margin-top: 100px;
        overflow: hidden;
    }
    #carousel  h1 {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    #carousel h1::after {
    content: url(/img/after1.png);
    margin-bottom: 15px;
    }
    #carousel p {
    padding: 0px 50px;
    text-align: center;
    white-space: pre-line;
    margin-bottom: 70px;
    }
}

@media (max-width: 575px) {
    #carousel .carousel-control-prev
    {
        display: none;
    }
    #carousel .carousel-control-next {
        display: none;
    }
    #carousel p {
        padding: 0px 50px;
    }
    #carousel .button {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
    #carousel .button button{

    margin: 10px 5px;
    }
}

@media (min-width: 1200px) {
#carousel {
    margin-top:200px;
    }

#carousel h1::after {
    content: url(/img/after1.png);
    margin-top: -40px;
    margin-bottom: 15px;
    }
}

/* MAIN_CONTENT */
#content .about {
    display: flex;
    flex-direction: row;
    padding: 100px 0px;
    flex-wrap: wrap;
}

#content .idea {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transform: scale(1);
    flex: 0 0 25%;
    padding: 10px 0px;
}

#content .idea a {
    border: 1.5px solid #e5e5e5;
    width: 75px;
    height: 75px;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    align-content: center;
}


#content .idea:hover {
    transform: scale(1.05);
    transition: 0.5s;
    } 

#content .idea:hover > h2 {
    color: #e74c3c;
    } 

#content .idea:hover > a {
    border: 1.5px solid #e74c3c;
    border-radius: 50px;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease-in-out;
    } 


#content .idea h2 {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6a6a6a;
    margin: 20px 0px;
}

#content .idea h2::after {
    content: "";
    border-bottom: 1.5px solid #888888;
    display: flex;
    margin: 0 auto;
    padding: 10px;
    width: 30%;
}

#content .idea p {
    color: #999999;
    font-size: 12px;
    text-align: center;
    padding: 0px 10px;
}

@media (max-width: 762px) {
    #content .idea {
        flex: 0 0 50%;
    }
}

@media (max-width: 576px) {
    #content .idea {
        flex: 0 0 100%;
    }
    #content .idea p {
        padding: 0px 50px;
    }
}

/* HISTORY */

#history {
    padding: 100px 0px;
    border-top: 1px solid #e6e7eb;
}

#history .container {
    display: flex;
}

#history .left {

flex: 0 0 50%;

display: flex;

flex-direction: column;

justify-content: center;
}
#history .left img {

width: 100%;

height: auto;
}

#history .right {
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 50%;
}

#history .right h2 {
    font-size: 36px;
    text-transform: uppercase;
    color: #6a6a6a;
    font-weight: bold;
    text-align: left;
    border-left: 6px solid #e74c3c;
    padding-left: 25px;
}

#history .right p {
    font-size: 14px;
    color: #a6a6a6;
        line-height: 2;
}

#history .right .btn{text-align: left;padding: 0;}

#history .right button {
    background-color: #e74c3c;
    border: 2px;
    width: 225px;
    height: 55px;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
    box-shadow: 2px 2px 2px 2px #cecece;
}

#history .right button:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: #e74c3c;
    border: 2px solid #e74c3c;
    transition: 0.3s;
}

@media (max-width: 768px) {
    #history .container {
        flex-wrap: wrap;
        justify-content: center;
    }
    #history.left {
        flex:0 0 100%;
    }
    #history .right {
        flex:0 0 100%;
        padding: 50px 0px;
    }
    #history .right h2 {
        text-align: center;
        border-left: none;
        padding-left: 0;
    }
    #history .right h2::after {
    content: "";
    border-bottom: 2px solid #e74c3c;
    padding-top: 20px;
    display: flex;
    width: 50%;
    margin: 0 auto;
    }
    .#istory .right p {
    text-align: center;
    padding-top: 30px;
    }
    #history .right .btn {
        text-align: center;
        padding-top: 30px;
    }
}